.employeearr-employee {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.75vw;
    box-shadow: 2px 2px 4px var(--shadow-color);
    background-color: var(--light-blue-color);
    border: 2px solid var(--light-blue-color);
    transition: background-color 0.5s ease, border 1s ease;
}

.employeearr-employee:hover {
    background-color: var(--mid-blue-color);
    border-color: var(--dark-blue-color);
}

.employeearr-employee-name {
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.employeearr-employee-author {
    margin-top: 8px;
    font-size: clamp(0.7rem, 1.2vw, 1.2rem);
}

.employeearr-employee-controls-row {
    display: flex;
    justify-content: center;
    gap: calc(2vw / 3);
    margin-bottom: 8px;
}

.employeearr-employee-controls-row:first-child {
    margin-bottom: calc(2vw / 3);
}

.employeearr-employee-controls-icon {
    width: 2vw;
    height: 2vw;
    opacity: 0.6;
}

.employeearr-employee-controls-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.left-arrow-icon {
    background: url(../../assets/left-arrow.svg) center / cover;
}

.employeearr:first-child .left-arrow-icon {
    display: none;
}

.right-arrow-icon {
    background: url(../../assets/right-arrow.svg) center / cover;
}

.employeearr:nth-last-child(2) .right-arrow-icon {
    display: none;
}

.editdesc-icon {
    background: url(../../assets/desc-icon.svg) center / cover;
}

.editcust-icon {
    background: url(../../assets/cust-icon.svg) center / cover;
}


.delete-icon {
    background: url(../../assets/delete-button.svg) center / cover;
}
